@media (max-width: 720px){
    .header__container{
        background-color: red;
        display: flex;
        justify-content: space-between;
    }
    .header__list{
        display: none; !important;
    }
    }
