@media (max-width: 360px){
    *{
        max-width: 360px!important;
    }
    p {
        max-width: 330px!important;
    }

    input{
        width: 300px !important;
    }

    body{
        padding: 10px 10px 10px 10px !important;
    }

    p, a{
        font-size: small !important;
    }

    h1, h2, h3, h4, h5, h6{
        font-size: 30px !important;
    }

    .welcome__container__title{
        margin-bottom: 20px !important;
    }

    .header__tittle__container{
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;

    }

    .header__container {
        display: flex !important;
        justify-content: space-around !important;
    }

    .header__cabinet{
        display: block !important;
    }

    .header__registration__button{
        display: none !important;
    }

    .welcome__container{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .welcome__email-input{
        position: relative !important;
        width: 100% !important;
    }

    .welcome__form__button{
        position: absolute !important;
        left: 150px !important;
        top: 8px !important;
    }

    .about__phone{
        display: none !important;
    }

    .about__container__item{
        display: flex !important;
        flex-direction: row !important;

    }

    .about__container h1{
        margin-left: 20px !important;
    }

    .about__container{
        height: 900px !important;
    }

    .about__container__text{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        margin-bottom: 40px !important;
    }

    .tariffs__block__container{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important;
    }

    .sale{
        margin-top: 40px !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .question{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }


    .feedback__container{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .feedback{
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        align-content: center !important;
    }

    .send__feedback{
        display: flex !important;
        flex-direction: column !important;
        align-items: start !important;
    }



    .feedback__container{
        display: flex !important;
        flex-direction: column !important;
    }

    .footer__p{
        display: none !important;
    }

    .footer__phone__p{
        display: block !important;
    }
}