@import url("media.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Visuelt';
    src: url('/fonts/VisueltPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt';
    src: url('/fonts/VisueltPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.advantages h1 {
    margin:  0 0 0 50px;
}

.tariffs__container h1{
    margin:  0 0 0 50px;
    padding:  50px 0 0 0;
}

.reviews__container h1{
    margin:  0 0 0 50px;
    padding:  50px 0 0 0;
}

.question h1{
    margin:  0 0 25px 50px;
    padding:  50px 0 0 0;
}

input, button {
    outline: none;
    font-size: large;
}

input{
    padding: 0 20px
}

button{
    cursor: pointer;
}

body{
    z-index: 1;
    font-family: 'Visuelt', sans-serif;
    background-color: #EFEFEF;
    padding: 20px 20px 20px 20px;
}

.wrapper {
    border-radius: 15px 15px 15px 15px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: white;
}

.wrapper::before{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(100px);
    z-index: -1;
    backdrop-filter: blur(100px);

}

a{
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: center;
}

.header__container{
    border-radius: 15px 15px 0 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 1392px;
}

.header__list{
    color: darkgray;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header__link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__registration__button{
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 48px;
}

.header__menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.welcome{
    display: flex;
    justify-content: center;
    width: 100%;
}

.welcome__container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.welcome__container__form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.welcome__container__title{
    font-size: 50px;
}

.welcome__email-input{
    width: 465px;
    height: 64px;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    padding-left: -15px;
}

.welcome__form{
    position: relative;
}

.welcome__form p {
    margin-top: 15px;
}

.welcome__form__button{
    background: white;
    border: none;
    color: #4754EB;
    border-radius: 16px;
    width: 143px;
    height: 48px;
    position: absolute;
    right: 5px;
    top: 8px;
}

.welcome__scroll{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.welcome__container__form{
    position: relative;
}

.advantages{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding-block: 80px;
}

.advantages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.advantages__container > h1 {
    align-self: flex-start;

}

.advantages__blocks{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-block: 30px;
    justify-items: center}

.advantage__block{
    width: 70%;
}

.block__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.about__container{
        display: flex;
        justify-content: space-evenly;
        height: 800px;
        align-items: center;
}

.about__container__title{
    display: flex;
    flex-direction: column;
    }

.about__container__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__container__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 460px;
}

.about__container p {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
}

.about__container h1, h2, h3, h4 {
    margin-top: 10px;
}

.about__container__item > h4:first-child{
    color: #4754EB;
}

.about__container__item {
    color: white;
}

.about__container__text h3{
    color: #4754EB;
}

.tariffs__block__container{
    padding-block: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.tariffs__block{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 10px;
    padding-block: 30px;
    border-radius: 15px;
}

.tariffs__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tariffs__block__header{
    margin-left: 40px;
    margin-bottom: 20px;
}

.tariffs__block__header p{
    color: #4754EB;
}

.tariffs__container{
    background-color: white;
}

.tariffs__body__row{
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.tariffs__block__button{
    color: #4754EB;
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 240px;
    height: 55px;
}


.reserved__button{
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 48px;
    margin-top: 25px;
}

.reviews__block__name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reviews__block__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__block{
    border-radius: 15px;
    background-color: #F8F8F7;
    width: 630px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.reviews__container__button{
    color: #4754EB;
    background-color: white;
    width: 270px;
    height: 55px;
    border: none;
    border-radius: 16px;
    position: relative;
    top: -200px;
    right: -80%;
}

.first__block{
    position: relative;
    left: 10%;
    top: 200px;
    z-index: 1;
}

.second__block{
    position: relative;
    left: 25%;
    top: -150px;
    z-index: 2;
}

.third__block{
    position: relative;
    left: 53%;
    top: -200px;
    z-index: 3;
}

.fourth__block{
    position: relative;
    left: 35%;
    top: -250px;
    z-index: 4;
}

.sale{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
}

.sale__container{
    display: flex;
    align-items: center;
}

.sale__container__form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sale__form{
    position: relative;
}

.sale__form__button{
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 140px;
    height: 44px;
    margin-top: 25px;
    position: absolute;
    top: -15px;
    right: 10px;
}

.sale__container__form h2{
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 20px;
}

.sale__form p {
    margin-top: 15px;
}

.sale__email-input{
    width: 465px;
    height: 64px;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    padding-left: -15px;
    background-color: #F2F2F2;
}

.question__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question__block{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 30px;
}

.question__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.question__body{
    padding-block: 15px;
    border-radius: 0 0 10px 10px;
    background-color: #F2F2F2;
}

.question__body p{
    font-size: 18px;
    width: 90%;
    padding-left: 4%;
}

.feedback{
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.feedback p{
    color: #808080;
    margin-top: 25px;
    margin-bottom: 25px;
}

.feedback__container{
    display: flex;
    flex-direction: column;
}

.feedback__tittle{
    width: 400px;
}

.agreement{
    font-size: 13px;
    width: 230px;
}

.send__feedback{
    margin-top: 25px;
}

.agreement__item{
    width: 100px;
}

.feedback{
    padding-block: 40px;
}

.feedback__form{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.feedback__input{
    width: 465px;
    height: 60px;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    padding-left: -15px;
    margin-bottom: 15px;
    background-color: #F2F2F2;
}

.feedback__button{
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 55px;
}

.send__feedback{
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

footer{
    color: white;
    background-color: white;
    z-index: -1;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

.footer{
    background-color: #505DEC;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.footer__title{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.footer__scroll{
    margin-right: 25px;
    display: flex;
    flex-direction: row;
}

.footer__arrow{
    margin-left: 10px;
    width: 16px;
    height: 16px;
}