* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Visuelt';
    src: url('/fonts/VisueltPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt';
    src: url('/fonts/VisueltPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

input, button {
    outline: none;
    font-size: large;
}

input{
    padding: 0 20px
}

button{
    cursor: pointer;
}

body{
    font-family: 'Visuelt', sans-serif;
    background-image: url("icons/color.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    backdrop-filter: blur(100px);
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: center;
}

.header__container{
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 1392px;
}


.header__list{
    color: darkgray;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header__link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__registration__button{
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 48px;
}

.header__menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.welcome{
    display: flex;
    justify-content: center;
    width: 100%;
}

.welcome__container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.welcome__container__form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.welcome__container__title{
    font-size: 50px;
}

.welcome__email-input{
    width: 465px;
    height: 64px;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    padding-left: -15px;
}

.welcome__form{
    position: relative;
}

.welcome__form__button{
    background: white;
    border: none;
    color: #4754EB;
    border-radius: 16px;
    width: 143px;
    height: 48px;
    position: absolute;
    right: 5px;
    top: 8px;
}

.welcome__scroll{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.welcome__container__form{
    position: relative;
}

.advantages{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding-block: 80px;
}

.advantages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.advantages__container > h1 {
    align-self: flex-start;
}

.advantages__blocks{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

}

.block__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.about__container{
        display: flex;
        justify-content: space-evenly;
        height: 800px;
        align-items: center;
}

.about__container__title{
    display: flex;
    flex-direction: column;
    }

.about__container__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__container__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 460px;
}

.about__container p {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
}

.about__container h1, h2, h3, h4 {
    margin-top: 10px;
}

.about__container__item > h4:first-child{
    color: #4754EB;
}

.about__container__item {
    color: white;
}

.about__container__text h3{
    color: #4754EB;
}

.reserved__button{
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 48px;
    margin-top: 25px;
}

.reviews__block__name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.help{
    display: flex;
    align-items: center;
}

.reviews__block{
    border-radius: 15px;
    background-color: #F8F8F7;
    width: 630px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question__container{
    display: flex;
    flex-direction: column;
}

.question__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px 15px 0 0;
    width: 95%;
}

.feedback{
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.feedback__container{
    display: flex;
    flex-direction: column;
}

.sup{
    width: 400px;
}

.sup1{
    font-size: 13px;
    width: 230px;
}

.ss{
    width: 100px;
}

.feedback__form{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.feedback__input{
    width: 465px;
    height: 60px;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    padding-left: -15px;
    margin-bottom: 15px;
    background-color: #F2F2F2;
}

.feedback__button{
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 55px;
}

.send__feedback{
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

footer{
    background-color: white;
    z-index: -1;
    width: 100%;
}

.footer{
    background-color: #505DEC;
    height: 120px;
    border-radius: 0 0 25px 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__title{
    display: flex;
    flex-direction: column;
}