* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {

}

input, button {
    outline: none;
    font-size: large;
}

input{
    padding: 0 20px
}

button{
    cursor: pointer;
}

body{
    background-image: url("icons/color.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    backdrop-filter: blur(100px);
}

a{
    text-decoration: none;
}

.header{
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 1392px;
}


.header__list{
    color: darkgray;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header__link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__registration__button{
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 48px;
}

.header__menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.welcome__container{
    display: flex;
    justify-content: space-around;
    width: 1392px;

}


.welcome__container__form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.welcome__container__title{
    font-size: 50px;
}

.welcome__email-input{
    width: 465px;
    height: 64px;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    padding-left: -15px;
    position: relative;
}

.welcome__form__button{
    background: white;
    border: none;
    color: #4754EB;
    border-radius: 16px;
    width: 143px;
    height: 48px;
    position: absolute;
    right: 5px;
    top: 8px;
}

.welcome__scroll{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.welcome__container__form{
    position: relative;
}

.about__container{
        display: flex;
        justify-content: space-evenly;
        height: 800px;
        align-items: center;
}

.about__container__title{
    display: flex;
    flex-direction: column;
    }

.about__container__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__container__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 460px;
}

.about__container p {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
}

.about__container h1, h2, h3, h4 {
    margin-top: 10px;
}

.about__container__item > h4:first-child{
    color: #4754EB;
}

.about__container__item {
    color: white;
}

.about__container__text h3{
    color: #4754EB;
}

.reserved__button{
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 48px;
    margin-top: 25px;
}

.reviews__block__name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.help{
    display: flex;
    align-items: center;
}

.reviews__block{
    border-radius: 15px;
    box-shadow: darkgray 3px 3px;
    width: 630px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer{

    width: 100%;
    background-color: #505DEC;
    display: flex;
    justify-content: space-between;
}

.footer__title{
    display: flex;
    flex-direction: column;
}