@import "header.css";

@import "footer.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Visuelt';
    src: url('/fonts/VisueltPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt';
    src: url('/fonts/VisueltPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

input, button {
    outline: none;
    font-size: large;
}

input {
    padding: 0 20px
}

button {
    cursor: pointer;
}

body {
    z-index: 1;
    font-family: 'Visuelt', sans-serif;
    background-color: #EFEFEF;
    padding: 20px 20px 20px 20px;
}

section{
    padding-block: 40px;
}

.wrapper {
    border-radius: 15px 15px 15px 15px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: white;
}

.wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(150px);
    z-index: -1;
}

a {
    text-decoration: none;
}

.about__phone__reverse {
    display: block;
}


.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
}

.welcome__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.welcome__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.welcome__confirm{
    width: 400px;
}

.welcome__title {
    width: 50%;
    font-size: 50px;
}

.welcome__email {
    width: 450px;
    height: 64px;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    padding-left: -15px;
}

.welcome__form {
    position: relative;
}

.welcome__form p {
    margin-top: 15px;
}

.welcome__send {
    background: white;
    border: none;
    color: #4754EB;
    border-radius: 16px;
    width: 143px;
    height: 48px;
    position: absolute;
    right: 155px;
    top: 8px;
}

.welcome__scroll {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.welcome__form {
    position: relative;
}

.advantages {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding-block: 80px;
}

.advantages__title {
    margin-left: 25px;
}


.advantages__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.advantages__title {
    align-self: flex-start;
}

.advantages__list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-block: 30px;
    justify-items: center
}

.advantage-block {
    width: 70%;
}

.advantage-block__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.about__container {
    display: flex;
    justify-content: space-evenly;
    height: 800px;
    align-items: center;
}

.about__title {
    display: flex;
    flex-direction: column;
}

.about__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 460px;
}

.about__container p {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
}

.slider__menu{
    margin-top: 10px;
}

.about__item > h4:first-child {
    color: #4754EB;
}

.about__item {
    color: white;
}

.tariffs__title{
    padding-block: 25px;
    margin-left: 25px;
}

.about__text h3 {
    color: #4754EB;
}

.tariffs__list {
    padding-block: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.tariffs__block {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 10px;
    padding-block: 30px;
    border-radius: 15px;
}

.tariffs__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tariffs__block__header {
    margin-left: 40px;
    margin-bottom: 20px;
}

.tariffs__block__header p {
    color: #4754EB;
}

.tariffs__container {
    background-color: white;
}

.tariffs__row {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.tariffs__block__button {
    color: #4754EB;
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 240px;
    height: 55px;
}


.reserved__button {
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 48px;
    margin-top: 25px;
}

.reviews__title{
    margin-left: 25px;
}

.reviews__block__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reviews__block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__block__header{
    gap: 15px
}

.reviews__block {
    border-radius: 15px;
    background-color: #F8F8F7;
    width: 630px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.reviews__button {
    color: #4754EB;
    background-color: white;
    width: 270px;
    height: 55px;
    border: none;
    border-radius: 16px;
    position: relative;
    top: -200px;
    right: -80%;
}

.reviews__block-first {
    position: relative;
    left: 10%;
    top: 200px;
    z-index: 1;
}

.reviews__block-second {
    position: relative;
    left: 25%;
    top: -150px;
    z-index: 2;
}

.reviews__block-third {
    position: relative;
    left: 53%;
    top: -200px;
    z-index: 3;
}

.reviews__block-fourth {
    position: relative;
    left: 35%;
    top: -250px;
    z-index: 4;
}

.sale {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
}

.sale__container {
    display: flex;
    align-items: center;
}

.sale__container__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sale__form {
    position: relative;
}

.sale__send {
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 140px;
    height: 44px;
    margin-top: 25px;
    position: absolute;
    top: -15px;
    right: 10px;
}

.sale__title{
    width: 400px;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 20px;
}

.sale__form p {
    margin-top: 15px;
}

.sale__email-input {
    width: 465px;
    height: 64px;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    padding-left: -15px;
    background-color: #F2F2F2;
}

.question__title{
    margin-left: 25px;
    margin-bottom: 25px;
}

.question__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question__item {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 30px;
    box-shadow: silver -3px -3px;
    border-radius: 10px 10px 10px 10px;
}

.question__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px 10px 0 0;
    opacity: 80%;
}

.question__header-title{
    margin-left: 50px;
}

.question__body {
    padding-block: 15px;
    border-radius: 0 0 10px 10px;
    background-color: #F2F2F2;
    opacity: 50%;
}

.question__body p {
    font-size: 18px;
    width: 90%;
    padding-left: 4%;
}

.feedback {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.feedback p {
    color: #808080;
    margin-top: 25px;
    margin-bottom: 25px;
}

.feedback__container {
    display: flex;
    flex-direction: column;
}

.feedback__title {
    width: 400px;
}

.agreement {
    font-size: 13px;
    width: 230px;
}

.send__feedback {
    margin-top: 25px;
}

.agreement__item {
    width: 100px;
}

.feedback {
    padding-block: 40px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.feedback__input {
    width: 465px;
    height: 60px;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    padding-left: -15px;
    margin-bottom: 15px;
    background-color: #F2F2F2;
}

.feedback__button {
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 55px;
}

.send__feedback {
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 360px) {
    * {
        max-width: 360px;
    }

    p {
        max-width: 330px;
    }

    input {
        width: 300px;
    }

    body {
        padding: 10px 10px 10px 10px;
    }

    p, a {
        font-size: small;
    }

    h2 {
        font-size: 30px;
    }

    .welcome__container__title {
        margin-bottom: 20px;
    }


    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome__email {
        position: relative;
        width: 93%;
    }

    .welcome__send {
        position: absolute;
        left: 130px;
        top: 8px;
    }

    .welcome__image-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome__image {
        height: 70%;
        width: 70%;
    }

    .advantages__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .about__image {
        width: 90%;
        height: 85%;
    }

    .about__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__text h2 {
        font-size: 20px;
    }

    .about__phone {
        display: none;
    }

    .about__item {
        display: flex;
        flex-direction: row;

    }

    .about__container {
        height: 900px;
    }

    .about__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .tariffs__container {
        padding-block: 20px;
    }

    .tariffs__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .reviews__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sale {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sale__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sale__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question {
        padding-block: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feedback__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feedback__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feedback {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .send__feedback {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .feedback__container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 720px) {

    .welcome__image-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome__image {
        height: 70%;
        width: 70%;
    }

    .welcome__container {
        display: flex;
        flex-direction: column;
    }

    .welcome__content {
        margin-top: 40px;
        margin-left: 40px;
    }

    .welcome__email {
        width: 400px;
    }

    .welcome__send {
        left: 250px;
    }

    .welcome__scroll {
        display: none;
    }

    .advantages__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .about__container {
        display: flex;
        flex-direction: column;
        height: 1700px;
        justify-content: center !important;
    }

    .about__text {
        display: flex;
    }

    .tariffs__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .tariffs__block {
        margin-top: 25px;
    }

    .reviews__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews__blocks__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews__block {
        position: static;
        margin-top: 40px;
    }

    .reviews__container__button {
        display: none;
    }

    .sale {
        display: flex;
        flex-direction: column;
        padding-block: 40px;
    }

    .sale__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-left: 40px;
    }

    .feedback img {
        display: none;
    }

    .feedback__container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }


    .about__phone__reverse {
        display: block;
    }
}
