@media (max-width: 720px){
    .header__link{
        display: none !important;
    }
    .header{
        display: flex !important;
        justify-content: space-evenly !important;
    }

    .burger__menu{
        display: block !important;
    }

    .header__tittle__container{
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
    }

    .header__registration__button{
        margin-right: 20px !important;
    }

    .welcome__img{
        width: 80% !important;
    }

    .welcome__img__block{
        display: flex !important;
        justify-content: center !important;
    }

    .welcome__container{
        display: flex !important;
        flex-direction: column !important;
    }
    .welcome__container__form{
        margin-top: 40px !important;
        margin-left: 40px !important;
    }
    .welcome__email-input{
        width: 450px   !important;
    }
    .welcome__form__button{
        left: 250px !important;
    }
    .welcome__scroll{
        display: none !important;
    }
    .advantages__blocks{
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, 1fr) !important;
    }
    .about__container{
        display: flex !important;
        flex-direction: column !important;
        height: 1700px !important;
        justify-content: center!important;
    }
    .about__container__text{
        display: flex !important;
    }

    .tariffs__block__container{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;
    }

    .tariffs__block{
        margin-top: 25px !important;
    }

    .reviews__blocks__container{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .reviews__block{
        position: static !important;
        margin-top: 40px !important;
    }

    .reviews__container__button{
        display: none !important;
    }

    .sale{
        display: flex !important;
        flex-direction: column !important;
        padding-block: 40px !important;
    }

    .sale__container__form{
        display: flex !important;
        justify-content: start !important;
        margin-left: 40px !important;
    }

    .feedback img{
        display: none !important;
    }

    .feedback__container{
        display: flex !important;
        flex-direction: column !important;
        align-items: start !important;
    }


    .about__phone__reverse{
        display: block;
    }
}


