.about__phone__reverse {
    display: block;
}

.about__text h3 {
    color: #4754EB;
}

.about__container {
    display: flex;
    justify-content: space-evenly;
    height: 800px;
    align-items: center;
}

.about__title {
    display: flex;
    flex-direction: column;
}

.about__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 460px;
}

.about__container p {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
}

.slider__menu{
    margin-top: 10px;
}

.about__item > h4:first-child {
    color: #4754EB;
}

.about__item {
    color: white;
}

@media (max-width: 360px){
    .about__image {
        width: 90%;
        height: 85%;
    }

    .about__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__title{
        font-size: 20px;
    }

    .about__phone {
        display: none;
    }

    .about__item {
        display: flex;
        flex-direction: row;

    }

    .about__container {
        height: 900px;
    }

    .about__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
}

@media (max-width: 720px) {
    .about__container {
        display: flex;
        flex-direction: column;
        height: 1700px;
        justify-content: center !important;
    }

    .about__text {
        display: flex;
    }

    .about__phone__reverse {
        display: block;
    }
}