.advantages {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding-block: 80px;
}

.advantages__title {
    margin-left: 25px;
}


.advantages__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.advantages__title {
    align-self: flex-start;
}

.advantages__list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-block: 30px;
    justify-items: center
}

.advantage-block {
    width: 70%;
}

.advantage-block__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

@media (max-width: 360px){
    .advantages__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 720px) {
    .advantages__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}