.advantages {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding-block: 80px;
}

.advantages__title {
    font-size: 30px;
    margin-left: 25px;
}


.advantages__container {
    margin: 0 auto;
    max-width: 1400px;
    gap: 12px;
}

.advantages__title {
    align-self: flex-start;
}

.advantages__list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-block: 30px;
    justify-items: center
}

.advantage-block {
    max-width: 430px;
    font-size: 20px;
    border-radius: 15px 15px 15px 15px;
    background-color: #FBFBFB;
    box-shadow: rgba(169, 169, 169, 0.2) 0 0 10px;
}

.advantage-block-text{
    padding: 10px;
    color: #808080;
}

.advantage-block__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #FFFFFF;
    height: 70px;
    border-radius: 15px 15px 0 0 ;
}

@media (max-width: 360px){
    .advantages__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 720px) {
    .advantages__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}