.feedback {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.feedback p {
    color: #808080;
    margin-top: 25px;
    margin-bottom: 25px;
}

.feedback__container {
    display: flex;
    flex-direction: column;
}

.feedback__title {
    width: 400px;
}

.agreement {
    font-size: 13px;
    width: 230px;
}

.send__feedback {
    margin-top: 25px;
}

.agreement__item {
    width: 100px;
}

.feedback {
    padding-block: 40px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.feedback__input {
    width: 465px;
    height: 60px;
    opacity: 50%;
    border: none;
    border-radius: 16px;
    padding-left: -15px;
    margin-bottom: 15px;
    background-color: #F2F2F2;
}

.feedback__button {
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 55px;
}

.send__feedback {
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 360px){
    .feedback__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feedback__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feedback {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .send__feedback {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .feedback__container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    .feedback img {
        display: none;
    }

    .feedback__container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}