.header{
    border-bottom: 1px #D3B9E5 solid;
    display: flex;
    justify-content: center;
}

.header__container{
    border-radius: 15px 15px 0 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 1400px;
}

.header__title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__burger-menu{
    display: none;
}

.header__cabinet{
    display: none;
}

.header__title{
    color: #4754EB;
}

.header__list{
    color: #808080;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header__link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__language{
    color: #808080;
}

.header__language_selected{
    color: #4754EB;
}

.header__registration-link{
    background: #4754EB;
    border: none;
    color: white;
    border-radius: 16px;
    width: 220px;
    height: 48px;
}

.header__menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

@media (max-width: 720px) {

    .header__link{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-evenly;
    }

    .header__burger-menu{
        display: block;
    }

    .header__title__container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__registration-link{
        margin-right: 20px;
    }
}

@media (max-width: 360px) {

    .header__tittle__container{
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .header__burger-menu{
        display: block;
    }

    .header__container {
        display: flex;
        justify-content: space-around;
    }

    .header__cabinet{
        display: block;
    }

    .header__registration-link{
        display: none;
    }
}
