.reviews{
    margin: 0 auto;
    max-width: 1400px;
}


.reviews__title{
    font-size: 30px;
    margin-left: 25px;
}

.reviews__block__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reviews__block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__block__header{
    gap: 15px
}

.reviews__block {
    border-radius: 15px;
    background-color: #F8F8F7;
    width: 630px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.reviews__button {
    color: #4754EB;
    background-color: white;
    width: 270px;
    height: 55px;
    border: none;
    border-radius: 16px;
    position: relative;
    top: -250px;
    right: -80%;
}

.reviews__block-first {
    position: relative;
    left: 10%;
    top: 200px;
    z-index: 1;
}

.reviews__block-second {
    position: relative;
    left: 25%;
    top: -150px;
    z-index: 2;
}

.reviews__block-third {
    position: relative;
    left: 53%;
    top: -200px;
    z-index: 3;
}

.reviews__block-fourth {
    position: relative;
    left: 35%;
    top: -250px;
    z-index: 4;
}

@media (max-width: 360px){
    .reviews__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 720px){
    .reviews__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews__blocks__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews__block {
        position: static;
        margin-top: 40px;
    }

    .reviews__container__button {
        display: none;
    }
    .reviews__button {
        display: none;
    }
}